.main {
    margin: 0 40px;
}

.weather {
    position: relative;
}

.weather__temp {
    position: absolute;
    margin: 20px 0;
    left: 16px;
    color: #FFF;
    font-size: 36px;
    line-height: 40px;
}

.weather__image {
    width: 100%;
}

.card_section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card_name {
    text-align : center;
}