.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 40px 28px;
    height: 40px;
  }
  
  .header__logo{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .header__avatar-logo{
    display: flex;
    gap: 20px;
    align-items: center;
  }